<div class='container'>
    <h1>Tecnologias Desenvolvidas com Node.js</h1>
    <ul>
        {{#each techListHTML}}
            <li>
                {{this}}
            </li>
        {{/each}}    
    </ul>
        
</div>
