<header>
    <h1>Bem-vindo ao Meu Aplicativo</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/hb1">HB1</a></li>
            <li><a href="/hb2">HB2</a></li>
            <li><a href="/hb3">HB2</a></li>
            <li><a href="/hb4">HB2</a></li>
            <li><a href="/lorem/1">HB2</a></li>
            <!-- Adicione mais links conforme necessário -->
        </ul>
    </nav>
</header>