*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

body {
    font-family: Arial, sans-serif;
}

#studentForm{
    display: flex;
}

.student-list {
    margin-top: 20px;
    width: 100%;
}
.student {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
}

.student > div {
    margin: 10px;
    width: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: center;
}